/* основной цвет текста #757575; +*/
/* цвет текств для заголовков и навигации #212121; */
/* цвет заголовка #FFFFFF */
/* цвет логотипа #2196F3 */
/* бекграунд 3 секии  #F5F4FA */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --logo-text-color: #2196f3;
  --primary-bcg-color:#ffffff;
}

body {
  color: var(--primary-text-color)
  background-color: var(--primary-bcg-color);
}
span {
  color: #000000;
}
/* навигация */
.nav-logo {
  color:var(--logo-text-color);
}
.navigation-link {
  color: var(--title-text-color);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--logo-text-color);
}
.contact-link {
  color: #757575;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--logo-text-color);
}
/* Герой */
.section-hero {
  color: var(--title-text-color);
}
/* Поменять цвет текста и кнопки */
.button-main {
  color: var(--logo-text-color);
}
.button-main:hover,
.button-main:focus {
  color: var(--logo-text-color);
}
/* сптсок приимуществ */
.overweight-caption {
  color:  var(--title-text-color)
}
.work-title {
  color: var(--title-text-color);
}
.work-text {
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
/* наша команда */
.team-workers {
  color: var(--title-text-color);
}
.workers-man {
  color:var(--title-text-color);
}
.workers-link {
  color: var(--logo-text-color);
}
.workers-link:hover,
.workers-link:focus {
  color: #008080;
}
/* наши клиенти */
.clients-title {
  color:  var(--title-text-color);
}



/* текст на картинки поменять цвет на fffffff */
.caption-content {color: var(--title-text-color);}

.caption-text{color: var(--primary-text-color);}


.button{
  color: var(--title-text-color);
  background-color:#F5F4FA;
}

.button:hover,
.button:focus
{ color: #ffffff;
  background-color: #2196F3;

} 